#header {
  text-align: center;
  background-color: #D8D8D8;
  border-radius: 20px;
  border-style: dotted;
  color: black;
}

.button {
  text align: center;
  background-color: #888888;
  border-radius: 20px;
}


